.result-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

ul.contestant {
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

}

.contestant li {
  width: 17rem;
  font-size: 1.3rem;
  white-space: nowrap;
}

.contestant li span {
  vertical-align: -6%;
}

li.winner {
  display: block;
  color: blue;
  text-align: center;
  font-size: 3rem;
}

li.loser {
  display: block;
  color: red;
  text-align: center;
  font-size: 3rem;
}

.contestant img {
  display: block;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.winner img {
  border: 2px solid blue;
  margin: 2rem;
}

.loser img {
  border: 2px solid red;
  margin: 2rem;
}

.contestant.winner{
  background-color: cyan;
  border: 0.2rem solid blue;
}

.contestant.loser{
  background-color:salmon;
  border: 0.2rem solid red;
}
