.modal {
  width: 40rem;
  height: 7rem;
  padding: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  white-space: pre-wrap;
  border: 1px solid black;
  background-color: rgb(255, 255, 255);
}

.modal-button {
  display: inline-block;
  margin: 1rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color:rgba(0, 0, 0, 0.31);
}
