#battle-form {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

label {
  display: block;
  text-align: center;
}

.input-block {
  width: 14rem;
}

.input-block input {
  box-sizing: border-box;
  width: 100%;
}

.form-button {
  display: block;
  margin: 5rem auto;
  width: 8rem;
  height: 3rem;
  background-color: rgb(9, 230, 193);
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 1px solid #cccccc;
  border-radius: 2px;
}

.form-button:disabled {
  cursor: not-allowed;
  color: gray;
  background-color: rgb(69, 124, 115);
}

.vsBox {
  padding: 1rem;
}
